.git
.venv
.cache
__pycache__
*.pyc
*.egg-info
.ruff_cache
.github
.gemini
.claude
.cursor
build/

saves/
new_ui/
code/
plan/
docs_process/
outputs/
openspec/
community/
assets/
tests/
docs/
uv-x86_64-unknown-linux-gnu/
open_unlearning.egg-info/

data/
